* {
	font-family: 'Droid Sans';
	background-color: #f0ccff;
	text-align: center
}

.header { 
	background-color: #d24dff;
	font-family: 'Droid Sans';
 }

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

div.container {
	background-color: #f0ccff;
}